{% block paragraph %}
  <div class="box alt affinity-image">
    <div class="row uniform">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
