<header class="content-header-dark">
  <div class="inner">
    <h2>{{ label }}</h2>
  </div>
</header>

<div class="wrapper content-dark">
  <div class="inner">
    {{ content.field_paragraphs }}
  </div>
</div>
